/* Card.css */

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  height: 20%; /* Adjust the height as needed */
  width: 60%; /* Adjust the width as needed */
  margin-left: 33%;
  margin-right: 0%;
  padding: 16px;
  transition: box-shadow 0.3s ease-in-out;
  margin-top: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2) inset;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust the alignment as needed */
  margin-bottom: 12px;
}

.profile-picture {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
  transition: transform 0.3s ease-in-out;
}

.profile-picture:hover {
  transform: scale(1.1);
}

.user-details {
  flex-grow: 1;
}

.card-content {
  margin-bottom: 16px;
  font-size: 1rem; /* Adjust the font size as needed */
}

.menu-icon {
  cursor: pointer;
  font-size: 1.2rem; /* Adjust the font size as needed */
}

.menu-list {
  position: absolute;
  top: 50px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
}

.menu-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.3s;
}

.menu-list li:hover {
  background-color: #f0f0f0;
}
