/* Profession.css */
/* General Styles */

  

  .ProfessionPage {
    padding: 20px;
    text-align: center;
  }
  
  /* Category Buttons */
  .category-buttons button {
    background-color: #007bff;  /* Primary Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .category-buttons button:hover, .category-buttons button:focus {
    background-color: #0056b3; /* Darker Blue */
    transform: translateY(-2px); /* Slight lift */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  /* Job Listings */
  .job-listings {
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  


/* Job Card */
.job-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures content is spaced evenly */
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 15px;
  padding: 15px;
  width: 300px; /* Adjust width as necessary */
  min-height: 400px; /* Set a minimum height for consistency */
  background-color: #f9f9f9; /* Light background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.3s;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s; 
}

.job-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.job-card h3 {
  margin: 10px 0;
  color: #333;
  font-size: 1.2em;
}

.job-card p {
  color: #555;
  font-size: 0.9em;
  overflow-wrap: break-word;
}

.job-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.job-card.active { 
  transform: scale(1.05); 
  z-index: 10; 
}

.category-buttons button.active {
  background-color: #0056b3; /* Active button background color */
  color: white;
  /* Add other styles for active state if needed */
}