/* PersonCard.css */

.person-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  transition: box-shadow 0.3s ease-in-out;
  max-width: 650px; /* Adjusted max-width */
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 20px;
  max-height: 1000px; /* Set a max height for scrolling */
  margin-top: 13px;
}

.person-card img {
  width: 80px; /* Adjusted size */
  height: 80px; /* Adjusted size */
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 16px; /* Increased margin */
  transition: transform 0.3s ease-in-out;
}

.person-card img:hover {
  transform: scale(1.1);
}

.person-details {
  text-align: center;
}

.person-name,
.person-email,
.person-role {
  display: flex;
  align-items: center;
  font-size: 1.4rem; /* Adjusted font size */
  margin-bottom: 8px;
}

.icon {
  margin-top: 6px ;
  margin-right: 12px; /* Adjusted margin for better spacing */
  font-size: 1.4rem; /* Adjusted icon size */
}
